/* src/pages/SobreNos/style.css */


.info-p {

  background-color: var(--cor-fundo); 
  padding: 1.25rem;
  border-radius: 8px;

  border-left: 5px solid var(--cor-primaria); 
  margin-bottom: 1rem; 
  line-height: 1.7; 
}


.info-p strong {
  color: var(--cor-primaria);
  font-size: 1.1rem;
  display: block; 
  margin-bottom: 0.25rem;
}