/* src/pages/Home/style.css */

.home-hero {
  text-align: center;

  background-color: var(--cor-fundo); 
  padding: 3rem 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.home-hero h1 {
  font-size: 2.5rem;
}

.home-hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}


.home-hero .cta-button {
  margin: 0 0.5rem;
}


@media (max-width: 768px) {
  .home-hero {
    padding: 2rem 1rem;
  }

  .home-hero h1 {
    font-size: 2rem;
  }

  .home-hero .cta-button {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
  }
}